
html, body{
	margin:  0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;	
	overflow-x: hidden;
}

body {
	box-sizing: border-box;
}

#banner {
	background-image: url("./assets/banner.jpg");
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	z-index: 3;
}

#banner h1 {
    font-family: 'Source Sans Pro', sans-serif;	
    font-size: 3rem;
	color: #fff;
	position: relative;
	font-weight: 700;
	max-width: 40vw;
	padding-top: 15%;
	padding-left: 5%;
	margin-block-start: 0em;
}

#banner h1:after {
	content: '|';
	margin-left: 8px;
	animation: piscar 0.8s;
	animation-iteration-count: infinite;
}


#menu {
	position: fixed;
	top: 0;
	padding: 1vh 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	font-weight: 500;
	z-index: 5;
}

.blue {
	background: linear-gradient(to right, #253E53, #0F212D);
}

#menu a {
	text-decoration: none;
	color: #ACFFB4;
	font-size: 1.3rem;
}

#menu img {
	width: 40px;
}

#menu a:hover, #menu a:active {
	font-weight: bolder;
}

#redes-sociais {
	position: fixed;
	display: flex;
	flex-flow: column wrap;
	top: 30%;
	left: -25px;
	z-index: 2;
}

#redes-sociais > a {
	padding: 5%;
	padding-left: 30px;
	transition: transform 0.2s;
}

#redes-sociais img {
	width: 45px;
}

#redes-sociais > a:nth-child(1) {
	background: linear-gradient(to right, #253E53, #316978);
}

#redes-sociais > a:nth-child(2) {
	background: linear-gradient(to right, #777, #000);
}

#redes-sociais > a:nth-child(3) {
	background: linear-gradient(to right, #d443c8, #6e14e4);
}

#redes-sociais > a:nth-child(4) {
	background: linear-gradient(to right, #31c740, #12862f);
}

#redes-sociais > a:hover {
	transform: translateX(25px);
}


#quem-sou, #linguagens, #contato {
	padding-top: 120px;
}

h2 {
	text-align: center;
	font-weight: 600;
	margin-bottom: 80px;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
}

#quem-sou-content {
	display: flex;
	flex-flow: row-reverse wrap;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 7vw;
}

#quem-sou-content > p {
	max-width: 30vw;
	text-align: justify;
	font-size: 1.2rem;
	font-weight: 700;
}

#quem-sou-content > img {
	max-height: 250px;
	border-radius: 50%;
	border: solid 5px #081A26
	
}

.projeto {
	height: 35vh;
	width: 100vw;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 7vw;
	padding-right: 8vw;
}

.projeto-descricao {
	max-width: 40vw;
}

.projeto-descricao p {
	font-size: 1.3rem;
}

#projetos > div:nth-child(even) {
	background-color: #081A26;
	text-align: right;
	flex-direction: row-reverse;
}

#projetos > div:nth-child(even) > .imagem-projeto {
	background-color: #31c740;
}

#projetos > div:nth-child(odd) {
	background-color: #004318;
}

#projetos > div:nth-child(odd) > .imagem-projeto {
	background-color: #316978;
}

.projeto h3 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;

}

.projeto p {
	color: #ccc;
}

.imagem-projeto {
	width: 200px;
	height: 100px;
}

#contato {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5vw;
	background: linear-gradient(#fff, #253E53);
	padding: 10vh 5vw;
}

#contato h2 {
	margin-bottom: 40px;
}

#contato-conteudo {
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	font-family: 'Roboto', sans-serif;
	justify-content: space-between;
}

#contato-imagens {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 3vh;
}

#contato-imagens img {
	max-height: 15vh;
}

#contato-imagens img:nth-child(2) {
	max-height: 8vh;
}


#contato-github {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contato-github p {
	margin-bottom: 0;
	font-weight: 500;
	color: #fff;
}

#github-link {
	display: flex;
	flex-flow: column wrap;
	max-width: 35%;
	align-items: flex-start;
	overflow: hidden;
}

#github-link > a {
	text-decoration: none;
	color: #ACFFB4;
	font-size: 1rem;
}

#github-link > span {
	width: 40%;
	height: 3px;
	background-color: #ACFFB4;
	transform: translateX(-100px);
	transition: 0.9s;
}


#rodape {
	background-color: #316978;
}

#rodape > p {
	margin-bottom: 0;
	font-size: 0.8rem;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #111;
	margin-block-start: 0em;
}

#contato-email h2 {
	margin-bottom: 80px;
}

.input-form {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	margin: 1.4em 0;
}

.botao-form {
	background-color: #ACFFB4;
	font-family: 'Roboto';
	width: 30%;
	margin-top: 10px;
}

input, textarea, .botao-form {
	border-radius: 5px;
	border-color: transparent;
	outline: none;
	border-width: 2px;
}

input, textarea {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, textarea, label {
	transition: 0.4 ease;
}

h2 img {
	max-width: 2rem;
	padding-bottom: 7px;
}

label {
	position: absolute;
	top: 0;
	left: 5px;
	pointer-events: none;
	display: block;
	transition: 0.5s;
	font-family: 'Roboto', sans-serif;
	color: #777777;
}


.botao-form:hover, .botao-form:active {
	background-color: #72b679;
	outline: none;
}

input:focus, textarea:focus {
	border: solid 2px #12862f;
}

input:focus + label, textarea:focus + label, input:valid + label, textarea:valid + label {
	transform: translateY(-23px);
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

[data-anime] {
	opacity: 0;
	transition-duration: 1s;
  }
  
  [data-anime="left"] {
	transform: translate3d(-7vw, 0, 0);
  }
  
  [data-anime="right"] {
	transform: translate3d(7vw, 0, 0);
  }
  
  [data-anime].animate {
	opacity: 1;
	transform: translate3d(0, 0, 0);
  }


/*
 *  ANIMAÇÕES
 */

 /* Animação para o texto do banner */
 @keyframes piscar {
	0%, 100% {opacity: 1;}
	50% {opacity: 0;}
}


/*
 * MEDIA QUERIES
 */


@media(min-width: 1441px) and (max-width: 1920px) {
	#banner {
		background-image: url("./assets/banner-lg.jpg");
	}
}


@media(max-width: 1400px) and (orientation: portrait) {
	#banner {
		height: 70vh;
	}

	#banner h1 {
		padding-top: 30%;
	}
	
	#github-link {
		margin-top: 10px;
		max-width: 100%;
	}

	#contato-imagens img{
		max-width: 10vw;
	}
}

@media(max-width: 579px) {

	#banner {
		height: 100vh;
	}

	#banner > h1 {
		width: 100vw;
		font-size: 1.7rem;
		margin-block-end: 0%;
		padding-top: 60%;
	}

	#redes-sociais {
		display: none;
	}

	#quem-sou-content > p {
		max-width: 80%;
	}

	#quem-sou-content > img {
		max-height: 200px;
		margin-top: 4vh;
	}

	#contato {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}

	#contato-github > p {
		color: #333;
	}

	#contato-email {
		margin-top: 3em;
	}

	#contato-email > i {
		color: #fff;
	}

	#contato-conteudo {
		justify-content: space-around;
	}

	#contato-imagens img{
		max-width: 25vw;
	}

	.botao-form {
		width: 40%;
		justify-self: center;
		margin: 0 30%;
	}
}