
html, body{
	margin:  0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;	
	overflow-x: hidden;
}

body {
	box-sizing: border-box;
}

#banner {
	background-image: url("./assets/banner.jpg");
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	z-index: 3;
}

#banner h1 {
    font-family: 'Source Sans Pro', sans-serif;	
    font-size: 3rem;
	color: #fff;
	position: relative;
	font-weight: 700;
	max-width: 40vw;
	padding-top: 15%;
	padding-left: 5%;
	margin-block-start: 0em;
}

#banner h1:after {
	content: '|';
	margin-left: 8px;
	animation: piscar 0.8s;
	animation-iteration-count: infinite;
}


#menu {
	position: fixed;
	top: 0;
	padding: 1vh 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	font-weight: 500;
	z-index: 5;
}

.blue {
	background: linear-gradient(to right, #253E53, #0F212D);
}

#menu a {
	text-decoration: none;
	color: #ACFFB4;
	font-size: 1.3rem;
}

#menu img {
	width: 40px;
}

#menu a:hover, #menu a:active {
	font-weight: bolder;
}

#redes-sociais {
	position: fixed;
	display: flex;
	flex-flow: column wrap;
	top: 30%;
	left: -25px;
	z-index: 2;
}

#redes-sociais > a {
	padding: 5%;
	padding-left: 30px;
	transition: transform 0.2s;
}

#redes-sociais img {
	width: 45px;
}

#redes-sociais > a:nth-child(1) {
	background: linear-gradient(to right, #253E53, #316978);
}

#redes-sociais > a:nth-child(2) {
	background: linear-gradient(to right, #777, #000);
}

#redes-sociais > a:nth-child(3) {
	background: linear-gradient(to right, #d443c8, #6e14e4);
}

#redes-sociais > a:nth-child(4) {
	background: linear-gradient(to right, #31c740, #12862f);
}

#redes-sociais > a:hover {
	transform: translateX(25px);
}


#quem-sou, #linguagens, #contato {
	padding-top: 120px;
}

h2 {
	text-align: center;
	font-weight: 600;
	margin-bottom: 80px;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
}

#quem-sou-content {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
}

#quem-sou-content > p {
	max-width: 30vw;
	text-align: justify;
	font-size: 1.2rem;
	font-weight: 700;
}

#quem-sou-content > img {
	max-height: 250px;
	border: solid 6px #004318;
}

.projeto {
	height: 35vh;
	width: 100vw;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 7vw;
	padding-right: 8vw;
}

.projeto-descricao {
	max-width: 40vw;
}

.projeto-descricao p {
	font-size: 1.3rem;
}

#projetos > div:nth-child(even) {
	background-color: #081A26;
	text-align: right;
	flex-direction: row-reverse;
}

#projetos > div:nth-child(odd) {
	background-color: #004318;
	
}

.projeto h3 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;

}

.projeto p {
	color: #ccc;
}

#contato {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5vw;
	background: linear-gradient(#fff, #253E53);
	padding: 10vh 5vw;
}

#contato h2 {
	margin-bottom: 40px;
}

#contato-conteudo {
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	font-family: 'Roboto', sans-serif;
	justify-content: space-between;
}

#contato-imagens {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 3vh;
}

#contato-imagens img {
	max-height: 15vh;
}

#contato-imagens img:nth-child(2) {
	max-height: 8vh;
}



#contato-github p {
	margin-bottom: 0;
	font-weight: 500;
	color: #fff;
}

#contato-github > a {
	text-decoration: none;
	color: #ACFFB4;
	font-size: 1rem;
}

#rodape {
	background-color: #316978;
}

#rodape > p {
	margin-bottom: 0;
	font-size: 0.8rem;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #333;
	margin-block-start: 0em;
}

.input-form {
	display: flex;
	flex-flow: column wrap;
	margin: 0.8em 0;
}

.botao-form {
	background-color: #ACFFB4;
	font-family: 'Roboto';
	padding: 0 50px;
	margin-top: 0.4em;
}

input, textarea, .botao-form {
	border-radius: 5px;
	border-color: transparent;
	outline: none;
}

input:focus, textarea:focus {
	border: solid 2px #12862f;
}

input, textarea, label {
	transition: 0.4 ease;
	
}

label {
	margin-bottom: 0.1rem;
}

.botao-form:hover {
	background-color: #72b679;
}


[data-anime] {
	opacity: 0;
	transition-duration: 1s;
  }
  
  [data-anime="left"] {
	transform: translate3d(-7vw, 0, 0);
  }
  
  [data-anime="right"] {
	transform: translate3d(7vw, 0, 0);
  }
  
  [data-anime].animate {
	opacity: 1;
	transform: translate3d(0, 0, 0);
  }



/*
 *  ANIMAÇÕES
 */

 /* Animação para o texto do banner */
 @keyframes piscar {
	0%, 100% {opacity: 1;}
	50% {opacity: 0;}
}

@media(max-width: 579px) {
	#contato {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}

	#contato-email {
		margin-top: 3em;
	}
}